.wrap {
    width: 100%;
    min-height: 100%;
    background: #000;
    padding-bottom: 70px;
}
.header {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.header > .club {
    position: relative;
}
.header > .club::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.09);
}
.header > .club img {
    width: 100%;
    height: 280px;
    object-fit: fill;
}
.header .btn-back {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    cursor: pointer;
}
.header .btn-back img {
    width: 10px;
    height: auto;
}
.content {
    margin: 20px 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #b1b1b1;
}
.club__info {
    margin-top: 15px;
}
.club__name {
    font-size: 24px;
    letter-spacing: -0.42px;
    font-weight: var(--semibold);
    color: #fff;
    margin-bottom: 5px;
}
.club__address {
    font-size: 15px;
    letter-spacing: -0.1px;
    font-weight: var(--regular);
    color: #b1b1b1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.awareness {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5px;
    grid-gap: 5px;
    font-size: 14px;
    font-weight: var(--medium);
    color: #b1b1b1;
    margin-top: 5px;
}
.sns {
    display: flex;
    align-items: center;
    gap: 15px;
    grid-gap: 15px;
    margin-top: 20px;
}
.sns a {
    width: 30px;
    height: 30px;
}
.sns a img {
    width: 100%;
}
.infomation {
    margin: 20px 20px;
}
.infomation > div {
    padding: 10px 15px;
    background: #fff;
    border-radius: 15px;
}
.option {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 220, 224);
}
.option:last-child {
    border-bottom: 0;
}
.option:not(:first-child) {
    margin-top: 10px;
}
.option h2 {
    font-size: 14px;
    color: rgb(60, 64, 67);
}
.option__info {
    display: flex;
    align-items: center;
    gap: 5px;
    grid-gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.option__info div {
    min-width: calc(50% - 5px);
}
.option__info div img {
    width: 16px;
}
.option__info div span {
    font-size: 15px;
    color: rgb(60, 64, 67);
}

.fot__bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: #000;
    box-sizing: border-box;
    z-index: 9999;
}
.reservation__info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.reservation__info span {
    color: #d1d1d1;
}
.reservation__price {
    font-size: 15px;
}
.reservation__date {
    font-size: 13px;
    text-decoration: underline;
}
.fot__bar .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: inherit;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
}
.fot__bar .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40%;
    background: rgba(255, 255, 255, 0.2);
}
.fot__bar .btn span {
    font-size: 16px;
    color: #fff;
}
.playtkit,
.tkiting {
    display: none;
}

/* reward popup */
.popup__reward {
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60px;
    margin-bottom: 80px;
    z-index: 999999;
    border-radius: 15px;
    background: #222;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
}
.popup__reward.active {
    bottom: 0;
    opacity: 1;
}
.popup__reward span {
    font-size: 14px;
    color: #fff;
}

/* star popup */
.popup__star {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, top 0.3s;
}
.popup__star.active {
    opacity: 1;
    visibility: visible;
}
.popup__star .popup__close {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 50;
}
.popup__start-choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    box-sizing: border-box;
}
.popup__start-choice > h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.popup__start-choice > div {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-gap: 10px;
    width: 100%;
}
.popup__start-choice > div div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    grid-gap: 15px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
}
.popup__start-choice > div .redstar {
    background: linear-gradient(-315deg, #ff1722 0%, #ff1722 20%, #fd2da2 100%);
}
.popup__start-choice > div .blackstar {
    background: #222;
}
.popup__start-choice > div div img {
    width: 45px;
}
.popup__start-choice > div div span {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
